{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container">
    <p style="text-align: justify;">San Diego Zoo Wildlife Alliance is an international, nonprofit conservation organization with two front doors. 
        We integrate wildlife health and care, science, and education to develop sustainable conservation solutions. 
        Conservation is at the heart of everything we do. And it starts with that connection we make with people and wildlife 
        every day. Because when wildlife thrives, all life thrives</p>
</div>
{% endblock content %}